<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="fc71e005-ab89-402c-9f46-b32bc8013afa"
            Publisher="CN=Zagorodnyuk"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BubbleChartWin8</DisplayName>
    <PublisherDisplayName>Zagorodnyuk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>BubbleChartWin8</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BubbleChartWin8.App">
        <VisualElements
            DisplayName="BubbleChartWin8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BubbleChartWin8"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>